<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Noticia</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
    <link href="css/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
  Noticia
  <a href = "/">pagina inicial</a>
    <script src="script.js"></script>
  </body>
</html>